<dataStore>
  <id>DataStoreInfoImpl--6e9d1a49:150d2d8b42d:-7feb</id>
  <name>postgis</name>
  <description>Postgis for all vector layers</description>
  <type>PostGIS</type>
  <enabled>true</enabled>
  <workspace>
    <id>WorkspaceInfoImpl--6e9d1a49:150d2d8b42d:-7fec</id>
  </workspace>
  <connectionParameters>
    <entry key="database">{{pgdatabase}}</entry>
    <entry key="host">{{pghost}}</entry>
    <entry key="passwd">{{pgpassword}}</entry>
    <entry key="port">{{pgport}}</entry>
    <entry key="user">{{pguser}}</entry>
    <entry key="schema">public</entry>
    <entry key="Evictor run periodicity">300</entry>
    <entry key="Max open prepared statements">50</entry>
    <entry key="encode functions">false</entry>
    <entry key="preparedStatements">false</entry>
    <entry key="Loose bbox">true</entry>
    <entry key="Estimated extends">true</entry>
    <entry key="fetch size">1000</entry>
    <entry key="Expose primary keys">false</entry>
    <entry key="validate connections">true</entry>
    <entry key="Support on the fly geometry simplification">true</entry>
    <entry key="Connection timeout">20</entry>
    <entry key="create database">false</entry>
    <entry key="min connections">1</entry>
    <entry key="dbtype">postgis</entry>
    <entry key="namespace">http://radiantblue.com/piazza/</entry>
    <entry key="max connections">10</entry>
    <entry key="Evictor tests per run">3</entry>
    <entry key="Test while idle">true</entry>
    <entry key="Max connection idle time">300</entry>
  </connectionParameters>
  <__default>false</__default>
</dataStore>
